:root {
    --containerWidth: 400px;
    --containerHeight: 200px;
    --childContainerWidth: 200px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.container {
    display: flex;

    background-color: red;
    width: var(--containerWidth);
    height: var(--containerHeight);
    border: 1px solid black
}

.container .dayContainer {
    background-color: aliceblue;
    width: 100%;
    max-width: var(--childContainerWidth);
    max-height: var(--containerHeight);
    border: 1px solid black
}

.container .nightContainer {
    background-color: blueviolet;
    width: 100%;
    max-width: var(--childContainerWidth);
    max-height: var(--childContainerHeight);
    border: 1px solid black
}